
@{
    ViewBag.Title = "PrincipalAdministrativo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-2">
    
    <div class="card mb-3 m-1">
        <div id="InicioHtml" style="width:100%;padding:15% 0 15% 0">
            <h1 class="text-muted text-center" style="font-size:50px">SISTEMA ACADEMICO ARCO IRIS</h1>
        </div>
    </div>
</div>